.bar {
    list-style: none;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    height: 90px;
    background-color: var(--text-color-2);
}

.logo {
    position: fixed;
    top: 15px;
    left: 100px;
    width: 70px;
    height: 60px;
    z-index: 1;
}

.name {
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 170px;
    margin-top: 1%;
    font-size: 175%;
    width: auto;
    font-family: 'Kurale', serif;
    color: var(--text-color);
    z-index: 1;
}

.link {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    margin: 25px 15px 15px 15px;
    padding: 5px;
    border-bottom: 3px solid transparent;
}
  
.bar .link:hover {
    color: var(--text-color-1); 
    transition: color 1s ease 0s;
    transition: color 1s ease 0s;
}

.bar .link.active {
    border-bottom: 3px solid var(--text-color-1);
    color: var(--text-color-1);
    transition: border-bottom 1s ease 0s,;
}

.styling {
    margin-right: 15px;
}

.vl1 {
    border-left: 2px solid #ffffff;
    height: 35px;
    position: absolute;
    left: 83.5%;
    top: 30px;
}