.review {
    border: 2px solid #ccc;
    border-radius: 11px;
    color: var(--text-color-2);
    width: 400px;
    height: 300px;
    display: inline-block;
    margin: 10px;
}

.customer {
    margin: 0 0 0 30%;
    font-size: 125%;
    width: max-content;
}

.stars {
    margin-left: 34%;
    width: max-content;
}

.quotes {
    font-size: 200%;
    font-weight: bolder;
    width: 30px; 
}

.sentence {
    width: 400px;
    margin: -15% 0 -15% 50px;
}
